venv 
__pycache__
.env
src/migrations/*
migrations
alembic.ini
dump.rdb
.env-test
awscli_env
aiobotocore_env
.vscode
.ruff_cache
.pytest_cache
celerybeat-schedule.*
users_auto.xlsx
src/analytics/data/*
tests/analytics/data/*
!tests/analytics/data/users_statement_auto.xlsx
htmlcov/
.coverage